@padding-bottom: 4%;
@padding-top: 1% ;

.page-title {
  padding-top: @padding-top !important;
}

.cart-description {
  padding-bottom: @padding-bottom !important;
}

.shekel-label::after{
   content: "\20AA" !important;
 }