@padding: 0 !important;
@padding-bottom: 4%;
@padding-top: 1%;

.nav-bar {
  background-color: #000000;
}

.account-options {
  margin: 0 !important;

}

.cart-button-navbar {
  width: 40%;
  border: thin solid transparent;
}

.border-item {
  border: thin solid transparent;

  &:hover {
    border-style: solid solid hidden solid;
    border-color: #808080;
    border-width: thin;
  }
}

.cart-items {
  padding: @padding;
}


.account-box {
  margin-top: 5% !important;
  margin-left: 60% !important;
}

.cards {
  padding: 3%;
}

.ui .card:hover .card-image {
  filter: opacity(80%);
}

///cart page/
.page-title {
  padding-top: @padding-top !important;;
}

.cart-description {
  padding-bottom: @padding-bottom !important;
}

.shekel-icon {
  padding-bottom: @padding-bottom !important;
}